.container{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}
#main{
    position: relative;
    width: 1280px;
    height: 720px;
    border: 1px solid #000;
}
#mian img{
    width: 100%;
}
#range{
    position: absolute;
    width: 100%;
    height: 720px;
    bottom: 5%;
    z-index: 2;
    cursor: grabbing;
    opacity: 0;
}